@font-face {
  font-family: "Satoshi";
  src: url(../public/Satoshi-Variable.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi";
}

#root {
  width: 100vw;
  padding: 1rem;
}

.jelly {
  background-image: radial-gradient(
    circle at 50% 75%,
    #7ffff9 0%,
    #0e2547 80%,
    #020917 100%
  );
}
